 <div class="container shadow">
 <div class="card">
    <div class="card-body">
      <h1 class="card-title">Helpline</h1>
      <h2 class="card-subtitle mb-2 text-muted">Phone Number</h2>
      <h3 class="card-text">011-23978046</h3>
      <h3 class="card-text">1075</h3>
      <h2 class="card-subtitle mb-2 text-muted">Email Id</h2>
      <h3 class="card-text">ncov2019@gov.in</h3>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">MyGov Corona helpdesk</h1>
      <h2 class="card-subtitle mb-2 text-muted">Whatsapp no.</h2>
      <h3 class="card-text">919013151515</h3>
    </div>
  </div>
 </div>