<div class="mat-elevation-z8">
  <div style="background-color: mediumspringgreen;">
  <h3 class="text-center" style="padding:5px;margin:5px;color: #1b1e27;">State-wise stats</h3>
  </div>
  <div class='table-responsive'>
    <table class='table' *ngIf='e1'>
      <thead>
        <tr>
          <th>State</th>
          <th>Total Indian Cases</th>
          <th>Total Foriegn Cases</th>
          <th>Deaths</th>
          <th>Recovered</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let emp of give(num)'>
          <td>{{emp.loc}}</td>
          <td>{{emp.confirmedCasesIndian}}</td>
          <td>{{emp.confirmedCasesForeign}}</td>
          <td>{{emp.deaths}}</td>
          <td>{{emp.discharged}}</td>
       </tr>
       <tr>
        <td><input class="btn" type="button" value="< prev" (click)="prev()"></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input class="btn" type="button" value="next >" (click)="next()"></td>
       </tr>
      </tbody>
    </table>
  </div>
</div>