<div class="shadow">
<div>
    <h3 class="text-center" style="background-color:mediumspringgreen;padding:5px;margin:5px;color: #1b1e27;">Mounthly Increase in cases</h3>
</div>
<div class="container" style="display: grid;">
<ngx-charts-heat-map class="ngx-charts" style="background-color: #1b1e27;"
  scheme="neons"
  [legend]="legend"
  legendPosition="below"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [results]="multi"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-heat-map>
</div>
</div>