mat-sidenav-container{
    height: 100%;
}
mat-sidenav, mat-sidenav-content{
    padding:16px;
}
mat-sidenav{
    background-color: lightgreen;
    width:200px; 
}
.card{
    background-color:#1b1e27;
    padding:3rem;
    margin:3rem;
    width:100%;
}