<div class="bg-dark" style="padding:5px;margin:20px;">
<h2 class="text-center" style="padding: 5px;">State wise case</h2>
      <div class='table-responsive'>
        <table class='table table-dark'>
          <thead>
            <tr>
              <th>State</th>
              <th>Total Cases</th>
              <th>Total Recovered</th>
              <th>Total Death</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Gujarat</td>
              <td>15000</td>
              <td>2041</td>
              <td>257</td>
            </tr>
          </tbody>
        </table>
</div>
</div>